.main-wrap-users {
    width: 100vw;
    padding-top: 10px;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

}
.main-wrap-users .user-card {
    width: 316px;
    padding: 0 10px;

    background: blue;
    color: white;

}